{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1>Welcome</h1>

    {% if app.user %}
        <p class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Logout</a>
        </p>
        {% else %}
            <p class="mb-3">
                <a href="{{ path('app_register') }}">Register</a> or
                <a href="{{ path('app_login') }}">Login</a>
            </p>
    {% endif %}

{% endblock %}
