{% extends 'base.html.twig' %}
{% block title %}Payment cancelled{% endblock %}

{% block body %}
    <h1>Payment cancelled</h1>
    <p><a href="{{ path('cart_show') }}">Back to cart</a></p>
{% endblock %}
