{% extends 'base.html.twig' %}
{% block title %}Order created{% endblock %}

{% block body %}
    <h1>Order created</h1>
    <p>Your order ID is: <strong>#{{ orderId }}</strong></p>
    <p><a href="{{ path('catalog_index') }}">Back to shop</a></p>
{% endblock %}
